{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>{{ 'oc.advert.form.h3title'|trans }}</h3>

<div class="well">

	{% if advert.image is not null and advert.image.path != '' %}

		<img src="{{ advert.image.getRelativePath() | imagine_filter('my_thumb') }}" alt="{{ 'oc.advert.form.altthumb'|trans }}" />

		<br/>
		<br/> 
		
	{% endif %}

	{{ form(form) }}

	{# {{ form_start(form) }}

	{% if form.date is defined %}
	{{ form_row(form.date) }}
	{% endif %}

	{{ form_row(form.title) }}
	{{ form_row(form.author) }}
	{{ form_row(form.content) }}
	{{ form_row(form.image) }}
	{{ form_row(form.categories) }}

	{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

	{{ form_rest(form) }}

	{{ form_end(form) }} #}


</div>

<script src="{{ asset('bundles/ocplatform/ckeditor/ckeditor.js') }}"></script>
