{# src/OC/PlatformBundle/Resources/views/Advert/purgetotale.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ 'oc.advert.purgetotale.balisetitle'|trans }} - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>{{ 'oc.advert.purgetotale.h2title'|trans }}</h2>

    <p>
        {{ 'oc.advert.purgetotale.areyousure'|trans }}
    </p>

    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
    <form action="{{ path('oc_platform_purge_totale') }}" method="post">

        <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'oc.advert.purgetotale.button.cancel'|trans }}
        </a>

        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="{{ 'oc.advert.purgetotale.button.confirm'|trans }}" class="btn btn-danger" />

        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}

    </form>

{% endblock %}